.wrap-hourly-forecasts-detail {

  .hourly-forecast-detail {
    padding: 8px 16px;
    display: grid;
    grid-template-areas: "hour temperature weather-detail";
    grid-auto-columns: min-content 100px max-content;
    gap: 25px;
    align-items: center;
    line-height: 1;

    &__hour {
      grid-area: hour;
    }

    &__temperature {
      grid-area: temperature;
    }

    &__weather-detail {
      grid-area: weather-detail;
    }
  }
}