.wrap-forecasts-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__data-view {
    width: 85%;
    margin-top: 20px;

    .p-dataview-content {
      padding: 16px 8px;
      border-radius: 8px;
    }
  }


  .forecast-detail {
    padding: 8px 16px;
    display: grid;
    grid-template-areas: "icon day temperature action";
    grid-template-columns: 50px 1fr auto auto;
    gap: 25px;
    align-items: center;
    line-height: 1;

    &__icon {
      grid-area: icon;
    }

    &__day {
      grid-area: day;
    }

    &__temperature {
      grid-area: temperature;
      display: flex;
      gap: 3px;
    }

    &__temperature-min,
    &__temperature-max {
      min-width: 40px;
      text-align: center;
    }

    &__action {
      grid-area: action;
    }
  }
}