@import "primereact/resources/themes/bootstrap4-dark-blue/theme.css";

html,
body,
#weather-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}